body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

img{
    max-width: 100%;
}

.cabecalho {
    width: 100%; 
    float: center;
    margin-top: 0;
}

.logo {
    width: 200px; 
    height: 56px; 
    float: left; 
    background: url(logoPreto.png) center center/200px no-repeat; 
    font-size: 0;
}

.figureIndex {
    display: inline-block;
    position: relative;
    margin: 0;
    height: 50%;;
}

.figureIndex figcaption {
    position: absolute;
    top: 200px;
    right: 400px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 55px;
    color: white;
    text-shadow: 5px 5px 10px black;
}

#nav {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 0;
     position: relative;
}

#menu {
    margin-left: 20px;
    position: relative;
}

.navbar .navbar-nav {
    display: inline-flex;
    float: none !important;
}

.navbar .navbar-collapse {
    margin-left: 30%;   
    text-align: center;
}