body {
	font-family: Calibri;
	font-size: 20px;
	margin: 30px;
	align-self: center;
  background-attachment: fixed;
}

figure {
  float: center;
  width: 710px;
  text-align: center;
  font-style: italic;
  font-size: 10px;
  text-indent: 0;
  border: thin gray solid;
  margin: 0.2em;
  padding: 0.2em;
}

.indexH2 {
  text-shadow: black 0.1em 0.1em 0.5em
}

.indexFieldset {
  background-color: #39809B;
  color: white;
  font-size: 30px;
  width: 70%;
  padding: 50px;
  margin-top: 200px;
  border: none;
}

.fieldset {
  background-color: white;
  color: #204452;
  font-size: 22px;
  width: 90%;
  padding: 50px;
  margin-top: 40px;
  border: none; 
}


.topnav {
  overflow: hidden;
  background-color: #FFFFFF;
  text-align: center;
  font-family: Calibri;
  padding: 8px;
  width: 1000px;
  margin: 0 auto;
  vertical-align: middle;
}

.topnav a {
  float: center;
  color: black;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
  font-size: 20px;
  position : relative;
}

.topnav a:hover {
  background-color: #D0D9DD;
  color: #545454;
}

.topnav a.active {
  background-color: #39809B;
  color: white;
}
